<section class="mt-5">
    <div class="container my-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms and Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

            <p>
                By visiting and using infi, you accept and agree to be bound by these terms and
                conditions. If you do not agree to any part of the terms, you must discontinue using the site
                immediately.
            </p>
            <p>
                We reserve the right to modify these terms at any time. Changes will be posted on this page with an
                updated effective date. Your continued use of the website after any changes constitutes your acceptance
                of the revised terms.
            </p>
            <p>
                All content on infi, including text, images, logos, and design, is the property of [Your
                Website Name] or our licensors and is protected by intellectual property laws. You may not reproduce,
                distribute, or create derivative works from any of the content without our written consent.
            </p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme text-white px-4">Back to home</button>
            </div>
        </div>
    </div>
</section>