<section class="mt-5">
    <div class="container my-5 p-5 bg-theme">
        <h1 class="text-white text-center">About us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>
                At infi, we believe travel has the power to transform lives, broaden perspectives, and
                create lifelong memories. Our passion for exploration drives us to seek out the most unique,
                breathtaking destinations and experiences around the world. Whether you're a solo traveler, a family
                adventurer, or a luxury seeker, we cater to every type of journey with carefully curated guides, tips,
                and insights.
            </p>
            <p>
                Our team of travel enthusiasts and experts is dedicated to making your travel dreams a reality. From
                off-the-beaten-path adventures to iconic landmarks, we provide you with the tools and inspiration you
                need to plan seamless, hassle-free trips. We strive to highlight sustainable, responsible travel
                options, ensuring that future generations can experience the same wonders we cherish today.
            </p>
            <p>
                At infi, we don't just help you book trips—we create stories, foster connections, and
                open doors to unforgettable experiences. Wherever your next adventure takes you, were here to guide
                you, every step of the way. Let's explore the world together, one journey at a time.
            </p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme text-white px-4">Back to home</button>
            </div>
        </div>
    </div>
</section>