<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p>Drop your thoughts here.</p>

        <form>
            <div class="form-group my-2">
                <label for="" class="pb-2">Name</label>
                <input type="text" name="" id="" class="form-control shadow-effect" placeholder="Your name here">
            </div>
            <div class="form-group my-2">
                <label for="" class="pb-2">Comment</label>
                <textarea type="text" cols="30" rows="10" class="form-control shadow-effect" placeholder="Drop comments"></textarea>
            </div>

            <button class="btn btn-info btn-theme text-white mt-2">Add a comment</button>
        </form>
    </div>
</div>