<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center ms-2">Design</small>
                    <small class="bg-light text-success text-center ms-2">Featured</small>
                    <small class="bg-light text-info text-center ms-2">Views - 1221</small>
                    <small class="bg-light text-warning text-center ms-2">LAST UPDATED - SEP 22 2024</small>

                    <h1 class="my-3">Exploring nightcity</h1>
                    <p>

                        A night city exudes a mesmerizing beauty, transforming into a canvas of lights and reflections.
                        Tall skyscrapers glow with neon signs, streetlights, and windows, casting colorful hues across
                        the darkened skyline. The streets, wet from recent rain, mirror the lights, creating a sense of
                        endless illumination. Despite the late hour, the city pulses with life—cars pass by with glowing
                        headlights, and a few night owls wander the sidewalks. The serene sky above contrasts with the
                        bustling urban environment below, blending modernity with tranquility. A night city holds an
                        undeniable allure, where darkness enhances its vibrant, electrifying atmosphere.
                        A night city is a blend of energy and quiet mystery. Skyscrapers stand tall, adorned with
                        shimmering lights, while neon signs flicker, adding color to the streets below. The rhythmic hum
                        of distant traffic and occasional footsteps echo in the night, contributing to the atmosphere.
                        Reflections dance on windows and puddles, amplifying the city's glow. While the day is filled
                        with activity, the night reveals the city's soul—a mix of calm and constant motion.
                    </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>