<div class="container" *ngIf="postResponse">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="{{postResponse.postImgPath}}"
                    class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center ms-2">{{postResponse.category.category}}</small>
                    <small class="bg-light text-success text-center ms-2" *ngIf="postResponse.isFeatured">Featured</small>
                    <small class="bg-light text-info text-center ms-2">Views - {{postResponse.views}}</small>
                    <small class="bg-light text-warning text-center ms-2">LAST UPDATED - {{postResponse.createdAt.toMillis() | date: 'MMM dd, yyyy'}}</small>

                    <h1 class="my-3">{{postResponse.title}}</h1>
                    <p [innerHtml]="postResponse.content">
                    </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <div *ngFor="let sPost of similarPosts">
                <app-post-card [postData]="sPost"></app-post-card>
            </div>   
        </div>
    </div>
</div>