<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center me-3">Design</small>
        <small class="bg-light text-success text-center me-3">still</small>
        <small class="bg-light text-info text-center me-3">Views - 10124</small>
        <h5 class="mt-1">Random title is typed here</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem ipsum cupiditate maxime expedita.
            Consequatur, sequi dignissimos quia eos rem eum, repellat consequuntur illo quo ipsum nobis necessitatibus
            dolorum placeat incidunt.
        </p>
        <small class="bg-light text-warning text-center me-3">LAST UPDATED - SEP 20,2024</small>
    </div>
</div>