<div class="card shadow-effect" *ngIf="fpostData">
    <img src="{{fpostData.postImgPath}}" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center me-3">{{fpostData.category.category}}</small>
        <small class="bg-light text-success text-center me-3">Featured</small>
        <small class="bg-light text-info text-center me-3">Views - {{fpostData.views}}</small>
        <h5 class="mt-1">{{fpostData.title}}</h5>
        <p>{{fpostData.excerpt}}
        </p>
        <small class="bg-light text-warning text-center me-3">LAST UPDATED - {{fpostData.createdAt.toMillis() | date: 'MMM dd, yyyy'}}</small>
    </div>
</div>